h2{
    color: #34a8eb;
    margin-inline: auto;
    max-width: fit-content;
}
body{
    background-color:black;
    margin-inline: auto;
    max-width: fit-content;
}
p{
    color:azure;
    margin-inline: auto;
    max-width: fit-content;
}
h1{
    color:aliceblue;
    margin-inline: auto;
    max-width: fit-content;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#type1{
    width: 30%;
}

#type2{
    width: 50%
}